.App {
  text-align: center;
}

.App-header {
  background-color: #2d2e2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-content {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .App-header-content input,
 .App-header-content button,
 .App-header-content label {
  height: 3.5vh;
  display: block;
  margin-bottom: 10px; /* Adiciona um espaço entre os elementos */
 }

 .App-header-content input {
  border-radius: 2px;
  padding: 2px;
  width: 100%;
 }

 .App-header-content button {
  width: 40%;
  border-radius: 5px;

 }

 .App-header-content label{
  font-size: 1rem;
 }


 